version: "3"
services:
  redis:
    container_name: redis_spring_play
    image: redis:8.0.2
    ports:
      - "6379:6379"
    networks:
      - localnet

  db:
    image: mysql:8.0
    container_name: mysql_spring_play
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: 'spring-play'
      MYSQL_USER: steven
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - localnet

networks:
  localnet:

volumes:
  mysql_data: